simon42_dis.asm
simon42_dis.txt
simon42.bin
simon42.lst
simon44_dis.asm
simon44_dis.txt
simon44.bin
simon44.lst
simon45s_dis.asm
simon45s_dis.txt
simon45s.bin
simon45s.lst
simon50_dis.asm
simon50_dis.txt
simon50.bin
simon50.lst
